@import url('https://fonts.googleapis.com/css?family=Rubik:500');
header {
    width: 100%;
    height: auto;
    font-family: 'Rubik', sans-serif;
    background-color: white;
    margin: 1px;
    padding: 10px;
    overflow: hidden;
}

body {
    font-family: 'Rubik', sans-serif;
    background: #CCD1D9;
    overflow-x: hidden;
}

.logo {
    display: inline-block;
    vertical-align: middle;
    width: 7%;
}

.nav {
    display: inline-block;
    vertical-align: middle;
    width: 90%;
}

.nav_bar_links {
    display: flex;
}

.name {
    padding-left: 10px;
    flex-grow: 1;
}

.signup,
.login {
    margin-right: auto;
    margin-left: auto;
    padding: 16px 42px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    line-height: 1.25;
    background: #a19d84;
    text-decoration: none;
    color: white;
    font-size: 16px;
    letter-spacing: .08em;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    align-self: center;
    margin-right: 5px;
    margin-left: 5px;
}

.signup:hover,
.login:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.logo img {
    height: auto;
    width: 100%;
}

#showcase {
    padding-top: 20px;
    overflow-y: hidden;
}

.scrollpanel {
    width: 100%;
    height: 60%;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    margin: 0;
    scrollbar-width: none;
    overflow-y: hidden;
}

.scroll_item_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    white-space: nowrap;
    overflow-y: hidden;
    flex-basis: 100%;
    flex-shrink: 0
}

.scroll_item_image_container {
    max-height: 90%;
    flex-grow: 1;
}

.scroll_item_text_container {
    flex-grow: .10;
}

.scroll_item_image_container>img {
    max-width: 100%;
    max-height: 100%;
    background-size: contain;
}

.showcasebuttons {
    width: 100%;
    text-align: center;
}

.scrollbuttons {
    display: inline-block;
    margin: 0 auto;
}

.scrollbutton {
    padding: 10px;
    font-size: 24px;
    color: #00697c;
    text-decoration: none;
}

.scrollbutton:hover {
    color: white;
}

::-webkit-scrollbar {
    display: none;
}