<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/customer-login.css') }}" media="screen"/>
        <title>Oasis Customer Login</title>
    </head>
    <header class="brandheader"><h1>OASIS</h1></header>
    <body>
        <img src="{{ url_for('static', filename='res/logo.png') }}" alt="Oasis" class="center">
        <div class="Wrapper">
            <div class="Input">
              <form action="/login/" method="post">
                <input type="text" id="username" class="Input-text" name="username" placeholder="Username">
                <label for="username" class="Input-label">Username</label>
              <form>
            </div>
          </div>
    </body>
</html>