<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}" media="screen" />
        <title>Oasis</title>
    </head>
    <header>
        <div class="logo">
            <img class="logo-img" src="{{ url_for('static', filename='res/logo.png') }}" />
        </div>
        <div class="nav">
            <div class="nav_bar_links">
                <div class="name">
                    <h1 class="name">OASIS</h1>
                </div>
                <a href="../order" class="order">
                    <div class="order_button">
                        Order
                    </div>
                </a>
                <a href="#" class="tracker">
                    <div class="tracker_button">
                        Track
                    </div>
                </a>
                <a href="#" class="payment">
                    <div class="payment_button">
                        Payment
                    </div>
                </a>
                <a href="#" class="profile">
                    <div class="profile_button">
                        Profile
                    </div>
                </a>
            </div>
        </div>
    </header>
    
    <body>
    </body>
</html>