<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/new-user.css') }}" media="screen"/>
        <title>New User</title>
    </head>
    <header class="brandheader"><h1>OASIS</h1></header>
    <body>
        <img src="{{ url_for('static', filename='res/logo.png') }}" alt="Oasis" class="center-small">
        <div class="Wrapper">
        <div class="Input">
          <input type="text" id="email" class="Input-text" placeholder="Enter your email">
          <input type="password" id="password" class="Input-text" placeholder="Enter a new password">
          <input type="password" id="confirmation" class="Input-text" placeholder="Confirm your password">
        </div>
      </div>
      <div class="submit">
        <a href="#" class="submit-button">Submit</a>
      </div>
    </body>
</html>