<html>
    <head>
        <link rel="stylesheet" type="text/css" href="stylesheets/new-user.css" media="screen"/>
        <title>New User</title>
    </head>
    <header class="brandheader"><h1>OASIS</h1></header>
    <body>
        <img src="../resources/logo.png" alt="Oasis" class="center">
        <div class="Wrapper">
            <div class="Input">
              <input type="text" id="email" class="Input-text" placeholder="Enter your email">
              <input type="text" id="password" class="Input-text" placeholder="Enter a new password">
              <input type="text" id="passwordconfirmation" class="Input-text" placeholder="Confirm password">
            </div>
          </div>
    </body>
</html>